<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

Here is a list of some airport codes
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>S/N</th>
    <th>City</th>
    <th>Country</th>
    <th>IATA airport code</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Beijing</td>
    <td>China</td>
    <td>PEK</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Kuala Lumpur</td>
    <td>Malaysia</td>
    <td>KUL</td>
  </tr>
  <tr class="info">
    <td>3</td>
    <td>Las Vegas</td>
    <td>USA</td>
    <td>LAS</td>

  </tr>
  <tr class="success">
    <td>4</td>
    <td>San José, California</td>
    <td>USA</td>
    <td>SJC</td>
  </tr>
  <tr class="danger">
    <td>5</td>
    <td>Singapore</td>
    <td>Singapore</td>
    <td>SIN</td>
  </tr>

  </tbody>
</table>
Can't find what you need? Click  <a href="https://en.wikipedia.org/wiki/List_of_airports_by_IATA_code:_A"><u>here</u></a> for more airport codes.
</body>
</html>
