<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


<div class="message-box" id="message-box">
  <div ng-repeat="message in messages">
    <span class="name">{{message.name}}</span> : {{message.text}}
  </div>
</div>

<form>
  <div class="form-group top-pad-3">
    <i class="mdi-action-perm-identity"></i> <span class="h4">{{message.name}}</span>
  </div>
  <div class="form-group">
    <label class="sr-only" for="message">Text</label>

    <div class="inputs">
      <input type="text" class="form-control floating-label" id="message" data-hint="Write here something cool"
             placeholder="Type your message here" ng-model="message.text">
    </div>
  </div>
  <button type="submit" ng-click="addMessage(message)" class="btn btn-primary btn-raised pull-right">Enter</button>
</form>
<div class="clearfix"></div>

</body>
</html>
