<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<div class="flyfix"></div>
<div class="message-box" id="message-box">

  <div ng-repeat="message in messages" ng-class="{ 'flybot': isFlyBot(message.name)}">
    <span ng-style="{color : usersColor[message.name]}">{{message.name}}</span> :
    <span ng-class="{ 'flybot-message': isFlyBot(message.name)}">{{message.text}}</span>
  </div>
</div>

<form>
  <div class="form-group top-pad-3">
    <i class="mdi-action-perm-identity"></i> <span class="h4">{{message.name}}</span>
  </div>
  <div class="form-group">
    <div class="inputs">
      <input type="text" class="form-control floating-label" id="message" data-hint="Write here something cool"
             placeholder="Type your message here" ng-model="message.text">
    </div>
  </div>
  <button type="submit" ng-click="addMessage(message)" class="btn btn-primary btn-raised pull-right">
    Send
    <span class="glyphicon glyphicon-send"></span>
  </button>
</form>
<div class="clearfix"></div>

</body>
</html>
