<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
  <title>Start Page</title>
</head>
<body>

// to create a page for 1st user to start and invite people to the collab page to start their text chat
    <hr>

    <div class="form-group" name="buddy">
        <input type="text" class="form-control floating-label" id="buddyName" data-hint="Nicknames allowed too" placeholder="Type your travel buddy name here" ng-model="buddy.name">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" id="buddyNumber" placeholder="Type your buddy's number here" ng-model="buddy.number">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="buddyMessage" placeholder="Here is your buddy url" ng-model="buddy.url" disabled>
    </div>

    <button class="btn btn-primary btn-raised" type="submit" ng-click="generateBuddyUrl(buddy)">Generate URL</button>
    <button class="btn btn-primary btn-raised" type="submit" ng-click="addBuddy(buddy)">Add buddy</button>
    <br/>
    <button class="btn btn-info btn-raised" >Invite Now</button>
</body>
</html>